<mat-toolbar>
  <button mat-icon-button (click)="onMenuClick()" class="menu-icon mr-3 mt-2 border-none" aria-label="Menu Icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="company-name">
    <img src="https://assets-global.website-files.com/5e8640861fc8507d980dee1f/5e871c374ab8802afc7774d6_fc-logo.svg" width="150" height="36" alt="">
  </span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onCartClick()" class="favorite-icon mt-2 border-none" aria-label="Example icon-button with heart icon">
    <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
